body{
	background: #E5E5E5;
}
nav{
position: absolute;
width: 1650px;
height: 122px;
left: 0px;
top: 0px;

background: #EC434D;

}
.navbar-brand{
  position: absolute;
width: 100px;
height: 23px;
left: 100px;
top: 38px;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;
}
.navbar-brand span{
  position: absolute;
width: 90px;
height: 30px;
left: 40px;
top: 5px;
background: white;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #EC434D;
}
.nav-link{
  font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
text-decoration: none;
color:  #D8D8D8;
padding: 0px;
}
.nav-link:hover{
  color:#ffffff; 
}
.nav-item{
  padding-left: 30px;
  padding-right: 30px;
}
ul{
	margin-left: 605px;
}

.fa-question{
position: absolute;
left: 92.12%;
right: 6.06%;
top: 10.42%;
bottom: 93.65%;

}
.fa-cog{
	position: absolute;
left: 87.88%;
right: 10.3%;
top: 10.42%;
bottom: 93.65%;

}
.first-section{
	position: absolute;
width: 1650px;
height: 968px;
left: 0px;
top: 119px;
background:linear-gradient(90deg, rgba(0, 0, 0, 0.81), rgba(0,0, 1, 0.81)),url(background.jpg); 
background-repeat: no-repeat;
background-size: 1650px 600px;
}
.text-1{
	position: absolute;
width: 973px;
height: 60px;
left: 339px;
top: 136px;

}
.text-1 p{
	font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */

text-align: center;
color: #FFFFFF
}
.text-1 span{
color: #EC434D;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  position: absolute;
  width: 893px;
  left: 379px;
top: 270px;
background: #FFFFFF;
border: 1px solid #EC434D;
box-sizing: border-box;
border-radius: 5px;
  margin-bottom: 15px;
}

.icon {
  padding: 15px;
  background: #EC434D;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;

color: rgba(0, 0, 0, 0.5);
}
.section-2{
position: absolute;
width: 1650px;
height: 69px;
left: 0px;
top: 692px;
padding-top: 17px;

background: #FFFFFF;
border: 0.4px solid #000000;
box-sizing: border-box;
text-align: center;
}
.section-2 a{
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height */
color: rgba(0, 0, 0, 0.5);
text-decoration: none;
padding: 18px;


}
.section-2 a:hover{
	color:#EC434D;
	text-decoration: underline;
}
.section-3{
	position: absolute;
width: 1650px;
height: 263px;
left: 0px;
top: 761px;

background: #FFFFFF;
}
.column {
  float: left;
  width: 20%;
  padding-top:60px;
  padding-left: 55px;
  height: 100px; 
  text-align: center;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

}
#column-1 img{
	border: 5px solid #EC434D;
	border-radius: 100px;
}
#column-2 img{
	border: 5px solid #C4C4C4;
	border-radius: 100px;

}
#column-3 img{
	border: 5px solid #C4C4C4;
	border-radius: 100px;
}
#column-4 img{
	border: 5px solid #EC434D;
	border-radius: 100px;
}
.column p{
	font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #EC434D;
}

@media screen and (max-width:600px){
nav{
position: absolute;
width: 600px;
height: 122px;
left: 0px;
top: 0px;
}

.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}
ul{
	margin-left: 50px;
}
.navbar-brand{
 font-size: 14px;
top: 5px;
}
.navbar-brand span{
	font-size: 18px;
	width:80px;
}
.nav-link{
font-size: 14px;
line-height: 5px;
}
.first-section{
width: 600px;
height: 400px;
background-size: cover;
}
.text-1{
width: 403px;
height: 60px;
left: 100px;
top: 76px;
}
.text-1 p{
font-size: 36px;
line-height: 50px;
}
.input-container {
  width: 356px;
  left: 109px;
top: 220px;
}
.input-field {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  line-height: 25px;
}
.section-2{
width: 600px;
height: 69px;
left: 0px;
top: 492px;
border:none;
}
.section-2 a{
font-size: 18px;
line-height: 30px;
padding: 15px;
}
.section-3{
width: 600px;
height: 263px;
left: 0px;
top: 551px;
}
img{
	width: 50%;
	margin-bottom:20px;

}
#column-1 img{
	border:none;	
}
#column-2 img{
	border:none;

}
#column-3 img{
	border:none;
}
#column-4 img{
	border:none;
}
.column{
margin-bottom: 250px;	
}
.column p{
font-size: 18px;
}
}